src/main/app/getunitedflightinfo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <validation:config name="Validation_Configuration" doc:name="Validation Configuration"/>
    <sub-flow name="setCodeSubFlow">
        <set-variable variableName="code" value="#[message.inboundProperties.'http.query.params'.code == empty ? &quot;SFO&quot; : message.inboundProperties.'http.query.params'.code]" doc:name="set airport code"/>
    </sub-flow>
    <flow name="getunitedflightinfoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/united" allowedMethods="GET" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <flow-ref name="setCodeSubFlow" doc:name="Set Airport Code"/>
        <http:request config-ref="HTTP_Request_United_REST" path="/essentials/united/flights/{destination}" method="GET" doc:name="United REST Request">
            <http:request-builder>
                <http:uri-param paramName="destination" value="#[flowVars.code]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message" metadata:id="2a9d08ba-a442-4b90-acf2-5814e6188b00">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload.flights map ((flight , indexOfFlight) -> {
	airline: flight.airlineName,
	flightCode: flight.code,
	fromAirportCode: flight.origin,
	toAirportCode: flight.destination,
	departureDate: flight.departureDate,
	emptySeats: flight.emptySeats,
	price: flight.price,
	planeType: flight.planeType
})]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="getAmericanFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/american" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="entered getAmericanFlow" level="INFO" doc:name="Logger"/>
        <flow-ref name="setCodeSubFlow" doc:name="Set Airport Code"/>
        <http:request config-ref="HTTP_Request_American" path="/flights" method="GET" doc:name="American REST request">
            <http:request-builder>
                <http:query-param paramName="code" value="#[flowVars.code]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message" metadata:id="2a1a49eb-eab5-4321-97cc-2a2366dcbdcb">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	airline: "american",
	flightCode: payload01.code,
	fromAirportCode: payload01.origin,
	toAirportCode: payload01.destination,
	departureDate: payload01.departureDate,
	emptySeats: payload01.emptySeats,
	totalSeats: payload01.plane.totalSeats,
	price: payload01.price,
	planeType: payload01.plane.type
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
   
    <flow name="testerrorFlow">
        <set-variable variableName="code" value="#[message.inboundProperties.'http.query.params'.code]" doc:name="Variable"/>
        <set-payload value="#['a string']" doc:name="Set payload to a string value"/>
        <validation:is-number config-ref="Validation_Configuration" message="Validate - value is not an integer" value="#[payload]" numberType="INTEGER" doc:name="Validation"/>
    </flow>
    <sub-flow name="getunitedflightinfoSub_Flow">
        <logger level="INFO" doc:name="Logger"/>
    </sub-flow>
    
    <flow name="testError2Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/errortest2" doc:name="HTTP"/>
        <flow-ref name="testerrorFlow" doc:name="testerrorFlow"/>
        <logger level="INFO" doc:name="Logger"/>
       
    </flow>
</mule>
